# 忽略所有的.bat文件
# *.bat

# 忽略当前目录的.bat文件
# /*.bat

# /ikun/*.sln

# 忽略当前目录build文件夹下的所有内容
# /build
# **/Binaries/
# **/Intermediate/
# /ikun/.vs
# /ikun/.idea
# /ikun/Binaries
# /ikun/Intermediate
# /ikun/Saved
# /ikun/Saved/.sln
# /ikun/Typing
# /ikun/Plugins/MVVMTemplateGenerate
# /ikun/Plugins/Puerts/ThirdParty/v8/Lib
# /ikun/Plugins/Puerts/ThirdParty/v8/Lib
# /ikun/Plugins/UnLua/Source/UnLuaDefaultParamCollectorUbtPlugin
# /ikun/Plugins/Puerts/Source/CSharpParamDefaultValueMetas


## Visual Studio
/ikun/.vs
/ikun/.vsconfig
/ikun/Ikun.sln
/ikun/UpgradeLog.htm
/ikun/Backup

## Rider
/ikun/.idea

# Unreal
**/Binaries/
**/Intermediate/
/ikun/DerivedDataCache/
/ikun/Saved/
/ikun/Build/

## Build Toolchain Config
!ikun/Save/UnrealBuildTool/BuildConfiguration.xml

# UnLua
/ikun/Plugins/UnLua/Source/UnLuaDefaultParamCollector
/ikun/Plugins/UnLua/Source/UnLuaDefaultParamCollectorUbtPlugin

# Ctags
**/tags

# 游戏设计参考, 其他游戏的内容截图等, 不能私自分发
/References/